* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Layout {
    position: relative;
    height: 100%;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10% 90%;
    padding: 5em;
}



.Layout header {
    grid-column: 1/7;
}

.Layout nav {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Layout main {
    grid-column: 2/7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(190px, auto));

    align-content: start;
    gap: 1em;

}

.hide-done-btn {
    display: flex;
    gap: 0.5em;
    color: rgb(149, 148, 148)
}

.Layout nav .image-girl-container {
    width: 200px;
}

.image-girl-container img {
    width: 100%;
    height: 100%;
}

.filters-container>* {
    margin-bottom: 1em;
}

.hide-done-btn {
    margin-top: 50px;
}